VITE_SUPABASE_URL= https://gxxlyjjsoyrdwvrsyblm.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY= sb_publishable__Byk9IFkr3sR2eu1I-ChSw_KLtKsE-2
VITE_GITHUB_OWNER=priasetiado-lab
VITE_GITHUB_REPO=data-edurujuk
VITE_GITHUB_BRANCH=main
VITE_GITHUB_QUESTIONS_PATH=questions.json